---
import '../styles/global.css';
import '@/fonts.css';
import '@/index.css';
import '@/App.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Pharus Creative - Photography Studio', description = "Histoires d'amour illuminées par l'art. Professional photography for weddings, portraits, products and more in Montreal." } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/pharus-logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <div class="App">
      <slot />
    </div>
  </body>
</html>
